# LINE Bot Configuration
LINE_CHANNEL_SECRET=1b0c561d8503a338ba218b62acbb3645
LINE_CHANNEL_ACCESS_TOKEN=2NoMgSUY07ehduhMRq/k+BSeK6DFtfCsuGyWynXSCnI5sVQxDc80qr16azWPvvYTRHCDohr45Q2XYTcjrls55biCv8iNDiNjaug5LcwXCuqidfigmQF4eMMcAymE806T7OEbcvZNlgvfj3WHmyEc/wdB04t89/1O/w1cDnyilFU=

# Get your Channel Access Token from:
# https://developers.line.biz/console/
# Go to your channel > Messaging API > Channel access token (long-lived)
